# Environment
.env
.env.*
!.env.example

# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]

# Testing & Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Logs
*.log

# Downloaded Tender Data
data/raw/

# Airflow Logs
airflow/logs/